*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}
.container{
    display: grid;
    grid-template-columns: 300px 1fr;
}
#list{
    padding: 1rem;
    list-style: none;
}
#list li{
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 8px;
}