*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.box{
    width: 300px;
    height: 300px;
    background-color:#6dbdff;
}
#static{
    background-color:hsl(180,50%,50%);
    position: static;
    top:100px;
    left:100px;
}
#relative{
    background-color:hsl(180,50%,40%);
    position: relative;
    top:100px;
    left:100px;
}
#absolute{
    background-color:hsl(180,50%,30%);
    position: absolute;
    top: 0px;
    left:200px;
}
#fixed{    
    background-color:hsl(180,50%,20%);
    position: fixed;
    right:0;
    bottom:0;
}