*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.chevron{}
.chevron-item{
    width: 20px;
    height: 20px;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    transform: translateY(5px) rotate(45deg);
    margin-top: -10px;
    animation: fadeDown 1s infinite alternate cubic-bezier(1, 0, 0, 1);
}
.chevron-item:nth-child(2){
    animation: fadeDown 1s 0.33333s infinite cubic-bezier(1, 0, 0, 1)
}
.chevron-item:nth-child(3){
    animation: fadeDown 1s 0.66666s infinite cubic-bezier(1, 0, 0, 1)
}
.dot{
    display: flex;
    gap:8px;
}
.dot-item{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    animation: bounce 1s infinite alternate cubic-bezier(1, 0, 0, 1);
}
.dot-item:nth-child(2){
    animation: bounce 1s 0.33333s infinite alternate cubic-bezier(1, 0, 0, 1);
}
.dot-item:nth-child(3){
    animation: bounce 1s 0.66666s infinite alternate cubic-bezier(1, 0, 0, 1);
}
@keyframes bounce {
    from{
        transform: translateY(0) scaleY(0.8);
        opacity: 0.2;
    }
    to{
        transform: translateY(-10px) scaleY(1);
        opacity: 1;
    }
}

@keyframes fadeDown {
    0%{
        opacity: 0;
        transform: translateY(5px) rotate(45deg);
    }
    50%{
        opacity: 1;
        border-color: rgb(0, 132, 255);
    }
    100%{
        transform: translateY(0px) rotate(45deg);
    }
}