<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
      <div class="container">
        <figure>
            <img src="image/1.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title"><iconify-icon class="icon" icon="ic:twotone-beach-access"></iconify-icon>Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
            <!-- button -->
            <button class="btn">Go to Article <iconify-icon icon="mingcute:arrow-right-fill"></iconify-icon></button>
        </div>
    </div>
    <div class="container">
        <figure>
            <img src="image/2.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title">Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
        </div>
    </div>
    <div class="container">
        <figure>
            <img src="image/1.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title">Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
        </div>
    </div>
    <div class="container">
        <figure>
            <img src="image/2.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title">Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
        </div>
    </div>
    <div class="container">
        <figure>
            <img src="image/1.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title">Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
        </div>
    </div>
    <div class="container">
        <figure>
            <img src="image/2.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title">Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
        </div>
    </div>
    <div class="container">
        <figure>
            <img src="image/1.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title">Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
        </div>
    </div>
    <div class="container">
        <figure>
            <img src="image/2.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title">Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
        </div>
    </div>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
      <div class="container">
        <figure>
            <img src="image/1.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title"><iconify-icon class="icon" icon="ic:twotone-beach-access"></iconify-icon>Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
            <!-- button -->
            <button class="btn">Go to Article <iconify-icon icon="mingcute:arrow-right-fill"></iconify-icon></button>
        </div>
    </div>
    <div class="container">
        <figure>
            <img src="image/2.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title">Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
        </div>
    </div>
    <div class="container">
        <figure>
            <img src="image/1.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title">Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
        </div>
    </div>
    <div class="container">
        <figure>
            <img src="image/2.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title">Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
        </div>
    </div>
    <div class="container">
        <figure>
            <img src="image/1.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title">Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
        </div>
    </div>
    <div class="container">
        <figure>
            <img src="image/2.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title">Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
        </div>
    </div>
    <div class="container">
        <figure>
            <img src="image/1.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title">Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
        </div>
    </div>
    <div class="container">
        <figure>
            <img src="image/2.jpg" alt="beach">
        </figure>
        <div class="content">
            <h2 class="title">Lorem, ipsum.</h2>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloribus?</p>
        </div>
    </div>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>
