<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="inner">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, minus delectus. Unde tenetur molestias rerum sint ea, labore quibusdam tempore accusantium ipsa corrupti enim suscipit ullam, facere culpa cupiditate delectus!</p>
            <a href="#" class="btn">Contact</a>
        </div>
    </div>
    <div class="container reverse">
        <div class="inner">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, minus delectus. Unde tenetur molestias rerum sint ea, labore quibusdam tempore accusantium ipsa corrupti enim suscipit ullam, facere culpa cupiditate delectus!</p>
            <a href="#" class="btn">Contact</a>
        </div>
    </div>
    <div class="container">
        <div class="inner">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, minus delectus. Unde tenetur molestias rerum sint ea, labore quibusdam tempore accusantium ipsa corrupti enim suscipit ullam, facere culpa cupiditate delectus!</p>
            <a href="#" class="btn">Contact</a>
        </div>
    </div>
    <div class="container reverse">
        <div class="inner">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, minus delectus. Unde tenetur molestias rerum sint ea, labore quibusdam tempore accusantium ipsa corrupti enim suscipit ullam, facere culpa cupiditate delectus!</p>
            <a href="#" class="btn">Contact</a>
        </div>
    </div>
</body>
</html>