*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
img{
    width:100%;
    max-width: 100%;
    border-radius: 10px;
    aspect-ratio: 1/1;
}
.gallery{
    display: flex;    
}
.gallery .image{
    padding: 10px;   
    
}
