@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Pacifico&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.nav{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    
}
.nav .brand{
    font-family: 'Pacifico', cursive;
}
.nav .menus{
    list-style:none;
    display: flex;
    gap: 3rem;
    font-weight: 400;
}
.nav .icons{
    display: flex;
    gap:1rem;
}
.nav .icons .icon{
    font-size: 1.5rem;
}